<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.third.autoloan.carmag.mapper.CarMapper"> 
 	 
 	<select id="getCarInfoBeanById" parameterType="long" resultMap="carMap">
		select * from t_carinfo where id = #{id}
	</select>
	
	<select id="getCarInfoBeanByOrderId" parameterType="long" resultMap="carMap">
		select * from t_carinfo where fk_order_id = #{id}
	</select>
	<resultMap id="carMap" type="CarInfoBean">
		<id property="id" column="id"></id>
		<result property="otherAttachment" column="otherAttachment"></result>
		<result property="sali" column="sali"></result>
		<result property="carPic" column="carPic"></result>
		<result property="commerceinsurance" column="commerceinsurance"></result>
		<result property="carAsseceForm" column="carAsseceForm"></result>
		<result property="carRegisterForm" column="carRegisterForm"></result>
		<result property="drivingLisense" column="drivingLisense"></result>
		<result property="carId" column="carId"></result>
		<result property="brand" column="brand"></result>
		<result property="engineId" column="engineId"></result>
		<result property="color" column="color"></result>
		<result property="registerDate" column="registerDate"></result>
		<result property="annualInspection" column="annualInspection"></result>
		<result property="vin" column="vin"></result>
		<result property="assessmentPrice" column="assessmentPrice"></result>
		<result property="xkm" column="xkm"></result>
		<result property="getID" column="getID"></result>
		<result property="getAfford" column="getAfford"></result>
		<result property="getSali" column="getSali"></result>
		<result property="getKey" column="getKey"></result>
		<result property="keyNumber" column="keyNumber"></result>
		<result property="getRegisterLicense" column="getRegisterLicense"></result>
		<result property="getInsurance" column="getInsurance"></result>
		<result property="getDrivingLicense" column="getDrivingLicense"></result>
		<result property="getOriginalInvoice" column="getOriginalInvoice"></result>
		<result property="getTaxCertificate" column="getTaxCertificate"></result>
		<result property="getImportCertificate" column="getImportCertificate"></result>
		<collection property="itemList" ofType="ItemBean" select="com.third.autoloan.carmag.mapper.ItemMapper.getCarInfoBeanById" column="id"></collection>
		
	</resultMap>
	
	<insert id="addCarInfoBeanByMybatis" parameterType="CarInfoBean">
		insert into t_carinfo (otherAttachment,sali,carPic,commerceinsurance,carAsseceForm,carRegisterForm,drivingLisense,carId,
		brand,engineId,color,registerDate,annualInspection,vin,assessmentPrice,xkm,getID,getAfford,getSali,getKey,keyNumber,getRegisterLicense,
		getInsurance,getDrivingLicense,getOriginalInvoice,getTaxCertificate,getImportCertificate,fk_order_id) values (#{otherAttachment},
		#{sali},#{carPic},#{commerceinsurance},#{carAsseceForm},#{carRegisterForm},#{drivingLisense},#{carId},#{brand},#{engineId},#{color},
		#{registerDate},#{annualInspection},#{vin},#{assessmentPrice},#{xkm},#{getID},#{getAfford},#{getSali},#{getKey},#{keyNumber},#{getRegisterLicense},
		#{getInsurance},#{getDrivingLicense},#{getOriginalInvoice},#{getTaxCertificate},#{getImportCertificate},#{order.id}
		)
	</insert>
	
	<update id="updateCarInfoBeanByMybatis" parameterType="CarInfoBean">
		update t_carinfo set otherAttachment=#{otherAttachment},sali=#{sali},carPic=#{carPic},commerceinsurance=#{commerceinsurance},
		carAsseceForm=#{carAsseceForm},carRegisterForm=#{carRegisterForm},drivingLisense=#{drivingLisense},carId=#{carId},
		brand=#{brand},engineId=#{engineId},color=#{color},registerDate=#{registerDate},annualInspection=#{annualInspection},
		vin=#{vin},assessmentPrice=#{assessmentPrice},xkm=#{xkm},getID=#{getID},getAfford=#{getAfford},getSali=#{getSali},getKey=#{getKey},
		keyNumber=#{keyNumber},getRegisterLicense=#{getRegisterLicense},getInsurance=#{getInsurance},getDrivingLicense=#{getDrivingLicense},
		getOriginalInvoice=#{getOriginalInvoice},getTaxCertificate=#{getTaxCertificate},getImportCertificate=#{getImportCertificate},fk_order_id=#{order.id}
		 where id = #{id}
	</update>
	<!-- <resultMap id="itemMap" type="ItemBean">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="number" column="number"></result>
	</resultMap> -->
 
 </mapper>